body {
  font-family: 'Arial', sans-serif;
  margin: 40px;
  background-color: #131714;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
 
header img {
    display: flex;
    margin-left: 10px;
    justify-items: flex-end;
}

img {
  max-height: 100px; /* Regola l'altezza massima del logo */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

hr {
  color: white;
}

footer {
  text-align: center;
}

main {
  text-align: center;
  color: white;
  font-size: 16px;

}

nav{
  text-align: center;
  color: white;
}

article {
  color: white;
  text-align: center;
}