body {
  font-family: 'Arial', sans-serif;
  margin: 40px;
  background-color: #131714;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

code {
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

pre {
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: auto;
  text-align: left;
}

img {
  max-height: 100px; /* Regola l'altezza massima del logo */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

hr {
  color: white;
}

#pubblicita{
  text-align: center;
}

footer {
  text-align: center;
}

main {
  text-align: center;
  color: white;
  font-size: 16px;

}

nav{
  text-align: center;
  color: white;
}

article {
  color: white;
  text-align: center;
}

aside{
  color: white;
  text-align: left;
  display: none;
}