<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Focus</title>
    <link rel="stylesheet" href={{ url_for('static', filename='./CSS/style.css') }}>
</head>
<body>
    <header>
        <h1>WebChatSoftWare99</h1>
        <img src={{ url_for('static', filename="./img/logo.png") }} alt="logo">
    </header>
        <main>

            <article>
                <section id="Title">
                    <h2>Stay Focus</h2>
                    <p>
                        Questo qui è uno dei miei primi progettini di programmazione che ho creato. <br>
                        Stay Focus è un piccolo programma Python hc eserve per "mantenere la concentrazione" <br>
                        mentre si lavora su un progetto aprendo una pagina relativa al lavoro che si decide <br>
                        in caso l'utente non stia lavorando sul progetto.
                    </p>
                </section>
                <br>
                <section id="Inizio">
                    <p>
                        La prima parte del programma è abbastanza semplice, iniziamo ad importare le librerie <br>
                        che ci servirano per il progetto che in questo caso sono <u><b>time, random, pyautogui</b></u>.
<pre><code>import pyautogui
import time
import random
</code></pre>
                    </p>
                </section>
                <section id="PrendereObiettivo">
                    <p>
                        Appena importato le librerie neccesarie possiamo chiedere all'utente di impostare l'obiettivo  <br>
                        tramite l'utilizzo della funzione <b><u>prompt</u></b> di pyautogui e chiediamo anche all'utente che browser <br>
                        utilizza in modo tale da sapere che browser utilizzare per portarlo alla "concentrazione".
                    </p>
                    <pre><code>object = pyautogui.prompt("What is your achivement?")
browser = pyautogui.prompt("What browser do you usually use?")
                    </code></pre>
                </section>
                <section id="RitornaAlLavoro">
                    <p>
                        Ora che sappiamo l'obiettivo del nostro utente possiamo creare la funzione che rimandera quest'ultimo <br>
                        a concentrarsi sull'obiettivo. La funzione prendera come argomenti l'obiettivo(x) e il browser(y) <br>
                        quindi utilizzando pyautogui premeremo il tasto di windows per poi inserire il nome del browser e infine <br>
                        inserire l'obiettivo nel browser e avviare la ricerca su quest'ultimo.
                    </p>
                    <pre><code>def go_back_to_work(x, y):
    pyautogui.press("win")
    time.sleep(0.2)
    pyautogui.typewrite(y)
    time.sleep(0.2)
    pyautogui.press("enter")
    time.sleep(2)
    pyautogui.hotkey("ctrl", "t")
    time.sleep(5)
    pyautogui.typewrite(x)
    time.sleep(0.2)
    pyautogui.press("enter")
                    </code></pre>
                </section>

                <section id="LoopPrincipale">
                    <p>
                        L'ultima parte di questo programma consiste nel loop principale, il quale ogni 5-15 minuti <br>
                        controllera se l'utente sta lavorando sul progetto chiedendolo tramite il metodo <u><b>confirm</b></u> <br>
                        di pyautogui, se la conferma ritorna falso(No) allora verrà eseguita la funzione.
                    </p>
                    <pre><code>while True:
    time.sleep(random.randint(300,1200))
    check = pyautogui.confirm(f"You are working on {achivment}", buttons = ["Yes", "No"])
    if check != "Yes":
        go_back_to_work(achivment, browser)
    else:
        pyautogui.alert("Nice job keep going")</code></pre>
                </section>

                <section id="StimeFinali">
                    <p>
                        Questo programma è molto semplice e di sicuro non è uno molto efficente o pratico tuttavia <br>
                        non ho intenzione di perfezionarlo infatti lo lascierò così in modo tale da ricordarmi che anch'io ho iniziato commetendo errori 
                    </p>
                </section>
            </article>
        </main>
    <nav>
        <button onclick="window.location.href='/'">Home</button>
        <h2>Contact me</h2>
        <p>Email: <a href="mailto:webchatsoftware@gmail.com">webchatsoftware@gmail.com</a></p>
         <p><a href="https://it.fiverr.com/danymottu?public_mode=true">Fiverr</a></p>
    </nav>
</body>
</html>